*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    background: white;
    line-height: 1.6rem;
}

header {
    background-color: #f0f9ff;
    padding: 1rem 2rem;
}

#weather-widget {
    padding: 0.5rem;
    font-size: 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#weather-widget li {
    list-style: none;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main-nav div img {
    max-width: 300px;
    height: auto;
}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 1rem;
    list-style: none;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: #1e3a8a;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.nav-links li a:hover {
    background-color: #1e3a8a;
    color: #fff;
}

.nav-links li a.active {
    background-color: #1e3a8a;
    color: #fff;
}

.hero {
    background-color: #d4af37;
    padding: 2rem;
    text-align: center;
    color: #f9f9f9;
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #003f5c;
}

.hero p{
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
}

.restaurants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 1200px;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.restaurants h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #003f5c;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #d4af37;
}

.restaurants ul {
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}

.restaurants ul li {
    padding: 0.5rem 0;
}

#beach-house{
    max-width: 100%;
    margin-bottom: 3rem;
}

#sand-bar{
    margin-bottom: 3rem;
}

#cafe{
    max-width: 50%;
    margin-bottom: 3rem;
}

#lobby-lounge{
    max-width: 50%;
    margin-bottom: 3rem;
}

.intro {
    padding: 3rem 2rem;
    text-align: center;
}

.intro ul {
    max-width: 800px;
    margin: 1rem auto;
    font-size: 1rem;
    list-style: none;
}

footer {
    padding: 40px 20px;
    text-align: center;
    font-family: 'Georgia', serif;
    background: linear-gradient(to bottom right, #dbeafe, #e5e7eb, #96ace9);
}

.footer-content h6 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.footer-content p {
    margin: 4px 0;
    font-size: 0.95rem;
}

@media screen and (max-width: 768px) {
    .main-nav {
      flex-direction: column;
      align-items: center;
    }
  
    #weather-widget {
      font-size: 0.9rem;
      text-align: center;
    }
  }