header {
    background-color: #f0f9ff;
    box-shadow: 0 2px 5px rgba (0,0,0,0.1);
    padding: 1rem 2rem;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main-nav div img {
    max-width: 120px;
    height: auto;
}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 1rem;
    list-style: none;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: #1e3a8a;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.nav-links li a:hover {
    background-color: #1e3a8a;
    color: #fff;
}

.nav-links li a.active {
    background-color: #1e3a8a;
    color: #fff;
}